@model Pharmacy.Models.Entities.Producto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correlativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correlativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCientifico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concentracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concentracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presentacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presentacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restriccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restriccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodDetVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodDetVenta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodProducto" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
