@model Pharmacy.Models.Entities.Venta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codventa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
