@model Pharmacy.Models.Entities.DetalleVenta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalleVenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IGV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IGV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodVenta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodDetVenta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
