@model IEnumerable<Pharmacy.Models.Entities.DetalleVenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IGV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IGV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodVenta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodDetVenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodDetVenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodDetVenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
